vendor/
om-operator
.dir-locals.el
pkg/client
.idea/
ops-manager-kubernetes.iml
my-*
om-operator-local.yaml
/docker/node-mongo-app/node_modules/
/pkg/apis/mongodb.com/v1beta1/zz_generated.deepcopy.go

build/
release.sh
release/*
