requests==2.32.3
click==8.0.4
docker==7.1.0
Jinja2==3.1.4
ruamel.yaml==0.17.4
dnspython>=2.6.1
MarkupSafe==2.0.1
semver==2.13.0
chardet==3.0.4
jsonpatch==1.33
kubernetes==17.17.0
pymongo==4.6.3
pytest==7.4.3
pytest-asyncio==0.14.0
PyYAML==5.4.1
urllib3==1.26.19
cryptography==42.0.5
python-dateutil==2.8.2
python-ldap==3.4.3
GitPython==3.1.43
setuptools>=71.0.3 # not directly required, pinned by Snyk to avoid a vulnerability
opentelemetry-api
opentelemetry-sdk
pytest-opentelemetry
jedi
rope
black==24.3.0
flake8
isort==5.12.0
shrub.py==3.1.2
pytest-mock==3.14.0
wrapt==1.16.0
botocore==1.35.29
boto3==1.35.29

# from kubeobject
freezegun==1.5.1
python-box==5.3.0
autopep8==1.5.7
flake8-isort==4.0.0
mypy==0.910
types-freezegun==0.1.4
types-PyYAML==5.4.3
types-pytz==2021.1.0
types-python-dateutil==0.1.4
pipupgrade==1.9.0
pytest-cov==2.12.1
pytest-socket==0.4.0
