---
# Source: mongodb-kubernetes/templates/operator.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongodb-enterprise-operator
  namespace: mongodb
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/component: controller
      app.kubernetes.io/name: mongodb-enterprise-operator
      app.kubernetes.io/instance: mongodb-enterprise-operator
  template:
    metadata:
      labels:
        app.kubernetes.io/component: controller
        app.kubernetes.io/name: mongodb-enterprise-operator
        app.kubernetes.io/instance: mongodb-enterprise-operator
    spec:
      serviceAccountName: mongodb-enterprise-operator
      containers:
        - name: mongodb-enterprise-operator
          image: "quay.io/mongodb/mongodb-kubernetes:0.1.0"
          imagePullPolicy: Always
          args:
            - -watch-resource=mongodb
            - -watch-resource=opsmanagers
            - -watch-resource=mongodbusers
          command:
            - /usr/local/bin/mongodb-kubernetes-operator
          resources:
            limits:
              cpu: 1100m
              memory: 1Gi
            requests:
              cpu: 500m
              memory: 200Mi
          env:
            - name: OPERATOR_ENV
              value: prod
            - name: MDB_DEFAULT_ARCHITECTURE
              value: non-static
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: MANAGED_SECURITY_CONTEXT
              value: 'true'
            - name: MDB_OPERATOR_TELEMETRY_COLLECTION_FREQUENCY
              value: "1h"
            - name: MDB_OPERATOR_TELEMETRY_SEND_FREQUENCY
              value: "168h"
            - name: CLUSTER_CLIENT_TIMEOUT
              value: "10"
            - name: IMAGE_PULL_POLICY
              value: Always
            # Database
            - name: MONGODB_ENTERPRISE_DATABASE_IMAGE
              value: quay.io/mongodb/mongodb-kubernetes-database
            - name: INIT_DATABASE_IMAGE_REPOSITORY
              value: quay.io/mongodb/mongodb-kubernetes-init-database
            - name: INIT_DATABASE_VERSION
              value: 0.1.0
            - name: DATABASE_VERSION
              value: 0.1.0
            # Ops Manager
            - name: OPS_MANAGER_IMAGE_REPOSITORY
              value: quay.io/mongodb/mongodb-enterprise-ops-manager-ubi
            - name: INIT_OPS_MANAGER_IMAGE_REPOSITORY
              value: quay.io/mongodb/mongodb-kubernetes-init-ops-manager
            - name: INIT_OPS_MANAGER_VERSION
              value: 0.1.0
            # AppDB
            - name: INIT_APPDB_IMAGE_REPOSITORY
              value: quay.io/mongodb/mongodb-kubernetes-init-appdb
            - name: INIT_APPDB_VERSION
              value: 0.1.0
            - name: OPS_MANAGER_IMAGE_PULL_POLICY
              value: Always
            - name: AGENT_IMAGE
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.2.8729-1"
            - name: MDB_AGENT_IMAGE_REPOSITORY
              value: "quay.io/mongodb/mongodb-agent-ubi"
            - name: MONGODB_IMAGE
              value: mongodb-enterprise-server
            - name: MONGODB_REPO_URL
              value: quay.io/mongodb
            - name: MDB_IMAGE_TYPE
              value: ubi8
            - name: PERFORM_FAILOVER
              value: 'true'
            - name: MDB_WEBHOOK_REGISTER_CONFIGURATION
              value: "false"
            - name: MDB_MAX_CONCURRENT_RECONCILES
              value: "1"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: mongodb-enterprise-operator
            # Community Env Vars Start
            - name: MDB_COMMUNITY_AGENT_IMAGE
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.2.8729-1"
            - name: VERSION_UPGRADE_HOOK_IMAGE
              value: "quay.io/mongodb/mongodb-kubernetes-operator-version-upgrade-post-start-hook:1.0.9"
            - name: READINESS_PROBE_IMAGE
              value: "quay.io/mongodb/mongodb-kubernetes-readinessprobe:1.0.22"
            - name: MDB_COMMUNITY_IMAGE
              value: "mongodb-community-server"
            - name: MDB_COMMUNITY_REPO_URL
              value: "quay.io/mongodb"
            - name: MDB_COMMUNITY_IMAGE_TYPE
              value: "ubi8"
            # Community Env Vars End
            - name: RELATED_IMAGE_MONGODB_ENTERPRISE_DATABASE_IMAGE_0_1_0
              value: "quay.io/mongodb/mongodb-kubernetes-database:0.1.0"
            - name: RELATED_IMAGE_INIT_DATABASE_IMAGE_REPOSITORY_0_1_0
              value: "quay.io/mongodb/mongodb-kubernetes-init-database:0.1.0"
            - name: RELATED_IMAGE_INIT_OPS_MANAGER_IMAGE_REPOSITORY_0_1_0
              value: "quay.io/mongodb/mongodb-kubernetes-init-ops-manager:0.1.0"
            - name: RELATED_IMAGE_INIT_APPDB_IMAGE_REPOSITORY_0_1_0
              value: "quay.io/mongodb/mongodb-kubernetes-init-appdb:0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_107_0_13_8702_1
              value: "quay.io/mongodb/mongodb-agent-ubi:107.0.13.8702-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_107_0_13_8702_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:107.0.13.8702-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_107_0_15_8741_1
              value: "quay.io/mongodb/mongodb-agent-ubi:107.0.15.8741-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_107_0_15_8741_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:107.0.15.8741-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_108_0_2_8729_1
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.2.8729-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_108_0_4_8770_1
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.4.8770-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_108_0_4_8770_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.4.8770-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_108_0_6_8796_1
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.6.8796-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_108_0_6_8796_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:108.0.6.8796-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_12_0_33_7866_1
              value: "quay.io/mongodb/mongodb-agent-ubi:12.0.33.7866-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_12_0_33_7866_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:12.0.33.7866-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_12_0_34_7888_1
              value: "quay.io/mongodb/mongodb-agent-ubi:12.0.34.7888-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_12_0_34_7888_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:12.0.34.7888-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_12_0_35_7911_1
              value: "quay.io/mongodb/mongodb-agent-ubi:12.0.35.7911-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_12_0_35_7911_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:12.0.35.7911-1_0.1.0"
            - name: RELATED_IMAGE_AGENT_IMAGE_13_33_0_9442_1
              value: "quay.io/mongodb/mongodb-agent-ubi:13.33.0.9442-1"
            - name: RELATED_IMAGE_AGENT_IMAGE_13_33_0_9442_1_0_1_0
              value: "quay.io/mongodb/mongodb-agent-ubi:13.33.0.9442-1_0.1.0"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_6_0_25
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:6.0.25"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_6_0_26
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:6.0.26"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_6_0_27
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:6.0.27"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_7_0_12
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:7.0.12"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_7_0_13
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:7.0.13"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_7_0_14
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:7.0.14"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_7_0_15
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:7.0.15"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_8_0_4
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:8.0.4"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_8_0_5
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:8.0.5"
            - name: RELATED_IMAGE_OPS_MANAGER_IMAGE_REPOSITORY_8_0_6
              value: "quay.io/mongodb/mongodb-enterprise-ops-manager-ubi:8.0.6"
      # since the official server images end with a different suffix we can re-use the same $mongodbImageEnv
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_0_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.0-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_1_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.1-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_2_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.2-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_3_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.3-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_4_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.4-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_5_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.5-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_6_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.6-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_7_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.7-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_8_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.8-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_9_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.9-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_10_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.10-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_11_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.11-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_12_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.12-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_13_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.13-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_14_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.14-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_15_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.15-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_16_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.16-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_17_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.17-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_18_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.18-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_19_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.19-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_20_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.20-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_4_4_21_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:4.4.21-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_0_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.0-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_1_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.1-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_2_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.2-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_3_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.3-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_4_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.4-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_5_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.5-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_6_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.6-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_7_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.7-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_8_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.8-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_9_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.9-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_10_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.10-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_11_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.11-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_12_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.12-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_13_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.13-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_14_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.14-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_15_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.15-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_16_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.16-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_17_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.17-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_5_0_18_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:5.0.18-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_6_0_0_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:6.0.0-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_6_0_1_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:6.0.1-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_6_0_2_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:6.0.2-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_6_0_3_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:6.0.3-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_6_0_4_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:6.0.4-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_6_0_5_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:6.0.5-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_8_0_0_ubi8
              value: "quay.io/mongodb/mongodb-enterprise-server:8.0.0-ubi8"
            - name: RELATED_IMAGE_MONGODB_IMAGE_8_0_0_ubi9
              value: "quay.io/mongodb/mongodb-enterprise-server:8.0.0-ubi9"
