---
apiVersion: mongodb.com/v1
kind: MongoDBOpsManager
metadata:
  name: ops-manager
spec:
  # the number of Ops Manager instances to run. Set to value bigger
  # than 1 to get high availability and upgrades without downtime
  replicas: 3

  # the version of Ops Manager distro to use
  version: 8.0.19

  # the name of the secret containing admin user credentials.
  # Either remove the secret or change the password using Ops Manager UI after the Ops Manager
  # resource is created!
  adminCredentials: ops-manager-admin-credentials

  # optional. The Ops Manager configuration. All the values must be of type string
  configuration:
    mms.fromEmailAddr: "admin@example.com"

  # the application database backing Ops Manager. Replica Set is the only supported type
  # Application database has the SCRAM-SHA authentication mode always enabled
  applicationDatabase:
    members: 3
    # optional. Configures the version of MongoDB used as an application database.
    # The bundled MongoDB binary will be used if omitted and no download from the Internet will happen
    version: 8.2.0
    passwordSecretKeyRef:
      name: om-db-user-credentials
      key: password
# Create secrets like this:
#
# kubectl create secret generic ops-manager-admin-credentials \
#  --namespace mongodb
#  --from-literal=Username=ops-manager-admin \
#  --from-literal=password=$(openssl rand -base64 16) \
#  --from-literal=FirstName=John \
#  --from-literal=LastName=Doe \
#  --dry-run=client -o yaml | kubectl apply -f -
#
# kubectl create secret generic om-user-credentials \
#  --namespace mongodb
#  --from-literal=password=$(openssl rand -base64 16) \
#  --dry-run=client -o yaml | kubectl apply -f -

