---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-cleaner
  namespace: {{ .Values.cleanerNamespace }}

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: cluster-cleaner
  namespace: {{ .Values.cleanerNamespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: cluster-cleaner
  namespace: {{ .Values.cleanerNamespace }}

# Remove old failed namespaces after a grace period.
# The grace period allows time for cleanup scripts to run before forced deletion.
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cluster-cleaner-delete-each-hour
  namespace: {{ .Values.cleanerNamespace }}
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cluster-cleaner
          restartPolicy: Never

          containers:
            - name: cluster-cleaner
              image: 268558157000.dkr.ecr.us-east-1.amazonaws.com/dev/cluster-cleaner:{{ .Values.cleanerVersion }}
              imagePullPolicy: Always
              command: ["./clean-failed-namespaces.sh"]
              env:
                - name: DELETE_OLDER_THAN_UNIT
                  value: "minutes"
                - name: DELETE_OLDER_THAN_AMOUNT
                  value: "10"
                - name: LABELS
                  value: "evg=task,evg/state=failed"

# Remove old testing namespaces regardless of success or failure state.
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cluster-cleaner-delete-each-hour-all
  namespace: {{ .Values.cleanerNamespace }}
spec:
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cluster-cleaner
          restartPolicy: Never

          containers:
            - name: cluster-cleaner
              image: 268558157000.dkr.ecr.us-east-1.amazonaws.com/dev/cluster-cleaner:{{ .Values.cleanerVersion }}
              imagePullPolicy: Always
              command: ["./clean-failed-namespaces.sh"]
              env:
                - name: DELETE_OLDER_THAN_UNIT
                  value: "minutes"
                - name: DELETE_OLDER_THAN_AMOUNT
                  value: "60"
                - name: LABELS
                  value: "evg=task"

# Clean old certificates
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cluster-cleaner-ca-certificates
  namespace: {{ .Values.cleanerNamespace }}
spec:
  # Run at 6:17 am every day of the week
  schedule: "17 6 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cluster-cleaner
          restartPolicy: Never

          containers:
            - name: cluster-cleaner
              image: 268558157000.dkr.ecr.us-east-1.amazonaws.com/dev/cluster-cleaner:{{ .Values.cleanerVersion }}
              imagePullPolicy: Always
              command: ["./create-cluster-ca-as-configmap.sh"]

# Remove old clusterroles
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: cluster-cleaner-cluster-roles-and-bindings
  namespace: {{ .Values.cleanerNamespace }}
spec:
  # Run at 4:25 every day of the week
  schedule: "25 4 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          serviceAccountName: cluster-cleaner
          restartPolicy: Never

          containers:
            - name: cluster-cleaner
              image: 268558157000.dkr.ecr.us-east-1.amazonaws.com/dev/cluster-cleaner:{{ .Values.cleanerVersion }}
              imagePullPolicy: Always
              command: ["./clean-cluster-roles-and-bindings.sh"]
