apiVersion: mongodb.com/v1
kind: MongoDB
metadata:
  name: my-replica-set
spec:
  credentials: my-credentials
  members: 3
  opsManager:
    configMapRef:
      name: my-project
  type: ReplicaSet
  version: 8.0.8
  persistent: true
