{{ $ns :=  include "mongodb-kubernetes-operator.namespace" .  -}}
{{- if not (lookup "v1" "ConfigMap" $ns "mongodb-kubernetes-operator-member-list") }}
{{- if .Values.multiCluster.clusters }}
---
apiVersion: v1
kind: ConfigMap
data:
  {{- range .Values.multiCluster.clusters }}
  {{ . }}: ""
  {{- end }}
metadata:
  namespace: {{$ns}}
  name: mongodb-kubernetes-operator-member-list
  labels:
    multi-cluster: "true"
  # It is safer for helm to never automatically delete the configmap when rendering. Helm is not the only owner of
  # the config map as the multi-cluster CLI tool also installs it. For example, if the lookup condition above fails,
  # helm would uninstall the member-list even on `upgrade --install`.
  annotations:
    "helm.sh/resource-policy": keep
{{- end }}
{{- end }}
