module github.com/10gen/ops-manager-kubernetes

require (
	github.com/google/uuid v1.1.1
	github.com/imdario/mergo v0.3.8
	github.com/operator-framework/operator-sdk v0.8.0
	github.com/pkg/errors v0.8.1
	github.com/spf13/cast v1.3.0
	github.com/stretchr/testify v1.4.0
	go.uber.org/zap v1.10.0
	k8s.io/api kubernetes-{{ k8s_label }} // {{ k8s_label }}
	k8s.io/apimachinery kubernetes-{{ k8s_label }} // {{ k8s_label }}
	k8s.io/client-go kubernetes-{{ k8s_label }} // {{ k8s_label }}
	k8s.io/code-generator kubernetes-{{ k8s_label }} // {{ k8s_label }}
	sigs.k8s.io/controller-runtime v0.3.0
)
