[Unit]
Description=Recreate kind clusters at boot
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/ubuntu/mongodb-kubernetes
Environment=HOME=/home/ubuntu
ExecStart=/home/ubuntu/mongodb-kubernetes/scripts/dev/recreate_kind_clusters.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
